In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import os.path

In [57]:

with open('Clean_datasets/player_season_stats.csv', 'r')as file:
    player_season_stats = pd.read_csv(file)

player_season_stats.head()

,season_id,player_id,nmr_games,game_id,fg_pts_home,fg_pts_away,ast_home,ast_away,miss,blk_home,...,ft_home,ft_away,reb_home,reb_away,tov_home,tov_away,stl_home,stl_away,pf_home,pf_away
0,21996,0,2,59200353,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21996,2,74,2190442558,163.0,180.0,40.0,51.0,202.0,6.0,...,48.0,75.0,45.0,68.0,24.0,28.0,15.0,25.0,16.0,18.0
2,21996,3,60,1776032598,122.0,125.0,16.0,19.0,122.0,1.0,...,26.0,34.0,99.0,112.0,28.0,15.0,21.0,21.0,17.0,19.0
3,21996,4,1,29600016,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21996,6,1,29600370,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
player_season_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13499 entries, 0 to 13498
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season_id    13499 non-null  int64
 1   player_id    13499 non-null  int64
 2   nmr_games    13499 non-null  int64
 3   game_id      13499 non-null  int64
 4   fg_pts_home  13499 non-null  float64
 5   fg_pts_away  13499 non-null  float64
 6   ast_home     13499 non-null  float64
 7   ast_away     13499 non-null  float64
 8   miss         13499 non-null  float64
 9   blk_home     13499 non-null  float64
 10  blk_away     13499 non-null  float64
 11  ft_misses    13499 non-null  float64
 12  ft_home      13499 non-null  float64
 13  ft_away      13499 non-null  float64
 14  reb_home     13499 non-null  float64
 15  reb_away     13499 non-null  float64
 16  tov_home     13499 non-null  float64
 17  tov_away     13499 non-null  float64
 18  stl_home     13499 non-null  float64
 19  stl_away     13499 non-null  float64
 20  pf_home      13499 non-null  float64
 21  pf_away      13499 non-null  float64
dtypes: float64(18), int64(4)
memory usage: 2.3 MB

In [59]:
player_season_stats[player_season_stats['fg_pts_home']==0]

,season_id,player_id,nmr_games,game_id,fg_pts_home,fg_pts_away,ast_home,ast_away,miss,blk_home,...,ft_home,ft_away,reb_home,reb_away,tov_home,tov_away,stl_home,stl_away,pf_home,pf_away
0,21996,0,2,59200353,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21996,4,1,29600016,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21996,6,1,29600370,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
6,21996,8,1,29600332,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0
13,21996,24,2,59200702,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13494,22021,1610612762,78,1723849354,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,337.0,326.0,28.0,38.0,0.0,0.0,0.0,0.0
13495,22021,1610612763,79,1745947324,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,339.0,368.0,28.0,26.0,0.0,0.0,0.0,0.0
13496,22021,1610612764,77,1701748052,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,314.0,263.0,23.0,15.0,0.0,0.0,0.0,0.0
13497,22021,1610612765,80,1768050883,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,331.0,303.0,34.0,30.0,0.0,0.0,0.0,0.0
13498,22021,1610612766,80,1768049009,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,326.0,283.0,26.0,19.0,0.0,0.0,0.0,0.0

Get info from indexing in dataframes

In [60]:
with open('Clean_datasets/player.csv', 'r')as file:
    player = pd.read_csv(file)

In [61]:
player.head(3)

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0

In [62]:
#bryant = player.index[player['last_name'] == 'Bryant' & player['first_name'] == 'Kobe'].tolist()
bryant = player[player.eval('first_name == "Kobe" & last_name == "Bryant"')]
print(bryant)
id = bryant.iloc[0,0]
type(id)

      id    full_name first_name last_name  is_active
575  977  Kobe Bryant       Kobe    Bryant          0

numpy.int64

In [64]:
row = player_season_stats[player_season_stats['player_id']==id]
row

,season_id,player_id,nmr_games,game_id,fg_pts_home,fg_pts_away,ast_home,ast_away,miss,blk_home,...,ft_home,ft_away,reb_home,reb_away,tov_home,tov_away,stl_home,stl_away,pf_home,pf_away
382,21996,977,68,2012841515,188.0,179.0,45.0,42.0,220.0,10.0,...,72.0,58.0,61.0,69.0,46.0,64.0,28.0,21.0,25.0,24.0
851,21997,977,78,2316648466,370.0,391.0,83.0,97.0,463.0,18.0,...,206.0,144.0,122.0,116.0,72.0,84.0,36.0,35.0,42.0,41.0
1315,21998,977,45,1341015357,291.0,315.0,77.0,82.0,329.0,28.0,...,111.0,105.0,114.0,117.0,62.0,79.0,32.0,29.0,34.0,32.0
1796,21999,977,62,1853842064,485.0,526.0,144.0,146.0,536.0,29.0,...,167.0,145.0,207.0,188.0,90.0,87.0,51.0,50.0,47.0,52.0
2271,22000,977,67,1340034396,656.0,666.0,160.0,156.0,715.0,21.0,...,213.0,255.0,184.0,208.0,96.0,121.0,61.0,53.0,52.0,38.0
2742,22001,977,78,1567847148,738.0,608.0,196.0,208.0,740.0,21.0,...,212.0,258.0,211.0,222.0,104.0,118.0,56.0,58.0,57.0,62.0
3221,22002,977,82,1656449016,859.0,809.0,205.0,251.0,977.0,39.0,...,300.0,301.0,276.0,288.0,144.0,144.0,103.0,78.0,52.0,64.0
3699,22003,977,64,1299238383,502.0,498.0,158.0,148.0,584.0,19.0,...,242.0,207.0,170.0,181.0,87.0,80.0,61.0,49.0,52.0,46.0
4189,22004,977,63,1285237195,574.0,504.0,174.0,200.0,652.0,22.0,...,268.0,237.0,195.0,183.0,142.0,121.0,46.0,38.0,37.0,39.0
4693,22005,977,77,1578547866,857.0,985.0,167.0,161.0,1071.0,10.0,...,352.0,319.0,208.0,201.0,107.0,130.0,75.0,68.0,54.0,47.0
5200,22006,977,74,1524446359,719.0,798.0,197.0,189.0,819.0,15.0,...,307.0,336.0,205.0,216.0,117.0,128.0,55.0,52.0,41.0,47.0
5722,22007,977,81,1676749717,787.0,759.0,198.0,220.0,843.0,19.0,...,336.0,279.0,252.0,255.0,122.0,135.0,83.0,68.0,50.0,59.0
6226,22008,977,80,1664049217,798.0,751.0,180.0,200.0,825.0,20.0,...,202.0,271.0,202.0,213.0,106.0,98.0,60.0,56.0,60.0,47.0
6744,22009,977,71,1483940665,684.0,686.0,163.0,175.0,771.0,10.0,...,243.0,189.0,194.0,187.0,104.0,123.0,58.0,51.0,46.0,37.0
7250,22010,977,75,1575044329,655.0,689.0,159.0,182.0,750.0,4.0,...,249.0,193.0,175.0,196.0,114.0,100.0,47.0,42.0,37.0,27.0
7770,22011,977,56,1181624732,520.0,588.0,110.0,132.0,698.0,9.0,...,173.0,195.0,151.0,146.0,109.0,88.0,36.0,30.0,22.0,15.0
8315,22012,977,77,1632445405,773.0,691.0,216.0,232.0,778.0,8.0,...,217.0,298.0,204.0,223.0,130.0,151.0,53.0,51.0,36.0,36.0
8841,22013,977,6,127802021,48.0,15.0,30.0,6.0,37.0,0.0,...,13.0,5.0,10.0,16.0,11.0,23.0,2.0,5.0,1.0,1.0
9383,22014,977,33,706208832,251.0,249.0,85.0,96.0,402.0,5.0,...,103.0,82.0,98.0,87.0,47.0,74.0,17.0,27.0,10.0,10.0
9944,22015,977,62,1333038608,393.0,382.0,81.0,84.0,634.0,6.0,...,96.0,115.0,100.0,132.0,51.0,73.0,31.0,28.0,24.0,28.0

In [65]:
def players_join_ha(player_df):
    player_df = pd.DataFrame({'season_id': player_df['season_id'],
                              'player_id': player_df['player_id'],
                              'nmr_games': player_df['nmr_games'],
                              'fg_pts': player_df['fg_pts_home'] + player_df['fg_pts_away'],
                              'ast': player_df['ast_home'] + player_df['ast_away'],
                              'miss': player_df['miss'],
                              'blk': player_df['blk_home'] + player_df['blk_away'],
                              'ft_misses': player_df['ft_misses'],
                              'ft_scored': player_df['ft_home'] + player_df['ft_away'],
                              'reb': player_df['reb_home'] + player_df['reb_away'],
                              'tov': player_df['tov_home'] + player_df['tov_away'],
                              'stl': player_df['stl_home'] + player_df['stl_away'],
                              'pf': player_df['pf_home'] + player_df['pf_away']})
    return player_df

In [66]:
players_join_ha(row)

,season_id,player_id,nmr_games,fg_pts,ast,miss,blk,ft_misses,ft_scored,reb,tov,stl,pf
382,21996,977,68,367.0,87.0,220.0,21.0,30.0,130.0,130.0,110.0,49.0,49.0
851,21997,977,78,761.0,180.0,463.0,39.0,94.0,350.0,238.0,156.0,71.0,83.0
1315,21998,977,45,606.0,159.0,329.0,43.0,46.0,216.0,231.0,141.0,61.0,66.0
1796,21999,977,62,1011.0,290.0,536.0,62.0,64.0,312.0,395.0,177.0,101.0,99.0
2271,22000,977,67,1322.0,316.0,715.0,43.0,82.0,468.0,392.0,217.0,114.0,90.0
2742,22001,977,78,1346.0,404.0,740.0,35.0,97.0,470.0,433.0,222.0,114.0,119.0
3221,22002,977,82,1668.0,456.0,977.0,67.0,112.0,601.0,564.0,288.0,181.0,116.0
3699,22003,977,64,1000.0,306.0,584.0,28.0,75.0,449.0,351.0,167.0,110.0,98.0
4189,22004,977,63,1078.0,374.0,652.0,49.0,119.0,505.0,378.0,263.0,84.0,76.0
4693,22005,977,77,1842.0,328.0,1071.0,29.0,119.0,671.0,409.0,237.0,143.0,101.0
5200,22006,977,74,1517.0,386.0,819.0,35.0,98.0,643.0,421.0,245.0,107.0,88.0
5722,22007,977,81,1546.0,418.0,843.0,40.0,118.0,615.0,507.0,257.0,151.0,109.0
6226,22008,977,80,1549.0,380.0,825.0,37.0,80.0,473.0,415.0,204.0,116.0,107.0
6744,22009,977,71,1370.0,338.0,771.0,18.0,102.0,432.0,381.0,227.0,109.0,83.0
7250,22010,977,75,1344.0,341.0,750.0,10.0,96.0,442.0,371.0,214.0,89.0,64.0
7770,22011,977,56,1108.0,242.0,698.0,17.0,68.0,368.0,297.0,197.0,66.0,37.0
8315,22012,977,77,1464.0,448.0,778.0,25.0,101.0,515.0,427.0,281.0,104.0,72.0
8841,22013,977,6,63.0,36.0,37.0,1.0,3.0,18.0,26.0,34.0,7.0,2.0
9383,22014,977,33,500.0,181.0,402.0,8.0,42.0,185.0,185.0,121.0,44.0,20.0
9944,22015,977,62,775.0,165.0,634.0,13.0,47.0,211.0,232.0,124.0,59.0,52.0